@{
    ViewBag.Title = "About";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">



    <link rel="shortcut icon" href="assets/images/gt_favicon.png">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <br />
    <br />
    <br />
    <br />

    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">
        <br />
        <br />
        <br />
        
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">About</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-sm-8 maincontent">
                <header class="page-header">
                    <h1 class="page-title">About us</h1>
                </header>
                <h3>DEVSTERS</h3>
                <p><img src="~/assets/images/devsters.png" alt="" class="img-rounded pull-right" width="300"> we are a group of students from the 4th ERP-BI 3 studying in the private superior school of engineering and technology.</p>
                <p>We have to develop a bank's web application for the 4th year integrated project.</p>
                <p>the bank provides three main features: transactions management, human resources management and inventory management.</p>
                <p></p>
                <h3>Particular</h3>
                <p></p>
                <h3>Professional</h3>
                <p></p>
                <h3>Entreprise</h3>
                <p></p>
            </article>
            <!-- /Article -->
            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">

                <div class="widget">
                    <h4>Vacancies</h4>
                    <ul class="list-unstyled list-spaces">
                        <li><a href="">Lorem ipsum dolor</a><br><span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span></li>
                        <li><a href="">Totam, libero, quis</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span></li>
                        <li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span></li>
                        <li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>
                        <li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span></li>
                    </ul>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>
    </div>	<!-- /container -->



</body>
</html>
