
@{
    ViewBag.Title = "Particular";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Particular</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-md-8 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Devsters to achieve your dreams!</h1>
                </header>
                <p>Because your life and your family are marked important events.</p>
                <p>Because what is important to you is important to us.</p>
                <p>We work every day to meet your different needs.</p>
                <p>To assist you in your daily life and in the important moments of your life, the Devsters offers a wide range of products and services able to provide a concrete answer to your expectations.</p>
                <p>Manage your money, your projects, grow your savings are all issues for which the Devsters entrust you his experience and expertise.</p>

                <h2>Manage your earnings effectively</h2>
                <p>You choose your payment methods and facilitate your various transactions:<br />
- Checkbook<br />
- Bank card<br />
- Bank transfer<br />
- withdrawals</p>
               
                <blockquote>By opening an account in devers Bank you get a range of banking services and personalized advice that allow you to efficiently manage your daily operations of depositing and withdrawing money.</blockquote>
               
                <h3>Get more better track of your daily money</h3>
                <p>You have various means allowing you to monitor your operations: </p>
                <p>- A statement of account available in the branch or via ATMs network of the Devsters<br />
                    - A monthly statement mailed<br />
                    - Voice Server Devsters phone consulted at 88 40 12 12: upon opening your account, you get an automatic subscription and free <br />
                    - The Customer Relationship Center: follow your account remotely by calling our advisors on 81 25 October 25</p>
            </article>
            <!-- /Article -->
            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-right">

                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>Open an account easily</h4>
                        
                        <p><img src="~/assets/images/1.jpg" alt="" height="210" width="460"></p>
                    </div>
                </div>
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>Access to payment</h4>
                        <p><img src="~/assets/images/2.jpg" alt="" height="210" width="460"></p>
                    </div>
                    <div class="row widget">
                        <div class="col-xs-12">
                            <h4>Track your your account from home</h4>
                            <p><img src="~/assets/images/3.jpg" alt="" height="210" width="400"></p>
                        </div>
                    </div>

            </aside>
            <!-- /Sidebar -->

        </div>
    </div>	<!-- /container -->

</body>
</html>
